<div class="container">
	<div class="private-reservation">

		<h1>Private Reservations</h1>

		<%= form_for @private_reservation, url: package_private_reservations_path do |f| %>
			<%= render "form", f: f %>
		<% end %>
	</div>
</div>