<div class="container">
<h1>Welcome back, <%= @user.first_name + " " + @user.last_name %></h1>

<% if @packages.present? %>
	<% @packages.each do |p| %>
		<li><%=link_to p.title, package_path(p.id), method: 'get'%></li>
	<% end %>
<% end %>

<h2>Your Public Reservations</h2><br/>
<p>
	<% @user.private_reservations.each do |private_reservation| %>
		<li><%= link_to private_reservation.package.title, private_reservation %></li>

	<% end %>
</p>
</div>
