
<div class="index_page">
	<h1>Welcome to Tripkaki</h1>
	<h2>The place where locals only knows best.</h2>
</div>

<div>
	<h1>Why use Tripkaki?</h1>
	<h>travle agencys may know how to plan you trip and bring you from one place to another but nobody know as well as the locals.</h>
</div>

<h1>how was tripkaki formed?</h1>
<h>a group of friends decided to travle to gether and to make things easier they decided to get a travle agency to plan out all their plans. 
</h>
