// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index_page {
	background-image: url("kuala-lumpur-city-view-HD.jpg");
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	.text {
		position: relative;
		z-index: 3;
		p, h1 {
			text-align: left;
			margin: 0;
		}
		h1{
			font-size: 40px;
			font-weight: bold;
			color: black;
		}
		@media screen and (max-width: 1000px){
			h1 {
				font-size: 20px;
			}
		}
		p {
			font-size: 60px;
			padding-top: 5px;
			color: white;
			font-weight: bold;
		}
		@media screen and (max-width: 1000px){
			p {
				font-size: 30px;
			}
		}
	}
	.input-group{
		padding-top: 30px;
		padding-right :15%;
		padding-left: 15%;

		#searchbar{
			height: 60px;
			border-top-left-radius: 2em;
			border-bottom-left-radius: 2em;	
		}
		#submit-btn {
			width: 120px;
			height: 60px;
			border-top-right-radius: 2em;
			border-bottom-right-radius: 2em;
		}
	}
}

.bg2 {
	width: 100%;
	background-color: black;
	position: absolute;
	z-index: 2;
	opacity: 0.4; 
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}



