// Place all the styles related to the private_reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#private-form-new, #private-form-edit {
	height: 600px;
	border: solid 1px lightgrey;
	margin-bottom: 10px;

}