// Place all the styles related to the private_reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.private-reservation {
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 200px;
}