
#user_first_name
{
	height: 35px;
	width: 367px;
	border-radius: 30px;
}
#user_last_name
{
	height: 35px;
	width: 367px;
	border-radius: 30px;
}
#user_username
{
	height: 35px;
	width: 367px;
	border-radius: 30px;
}
#user_email
{
	height: 35px;
	width: 367px;
	border-radius: 30px;
}
#user_password
{
	height: 35px;
	width: 367px;
	border-radius: 30px;
}
#user_password_confirmation
{
	height: 35px;
	width: 367px;
	border-radius: 30px;
}
#user_profile_picture
{
	// height: 35px;
	// width: 367px;
	// border-radius: 30px;
}