<footer id="footerWrapper" class="<%= current_page?(root_path) ? "footer-transparent" : "footer-margin" %>">
	<section id="mainFooter">
		<div class="container">
			<div class="row">
				<div class="col-sm-5">
					<div class="footerWidget">

						<%= link_to root_path, method: "get" do  %><%= image_tag("logo_white.png") %><% end %> 
						<address>
							<p><i class=""></i>AG-7, Glomac Damansara, Jalan Damansara,<br>
								 Tmn Tun Dr Ismail, 60000, Malaysia<br>
								<i class="icon-phone"></i>&nbsp;TEL: 03-9000 8000 <br>
								<i class="icon-mail-alt"></i>&nbsp;<a href="mailto:tripkaki@example.com">tripkaki@example.com</a> </p>
							</address>
						</div>
					</div>
				<div class="col-sm-4">
					<div class="footerWidget">
						<ul>
							<h5>About</h5>
							<a href="/"><li>About Us</li></a>
							<a href="/"><li>Contact Us</li></a>
							<a href="/"><li>Company</li></a>
							<a href="/"><li>Privacy Policy</li></a>
						</ul>
					</div>
				</div>
					<div class="col-sm-3">
						<div class="footerWidget">
							<h5>Follow us, we are social</h5>
							<div class="socialNetwork">
								<a href="/" class="tips" title="follow me on Facebook"><i class="fa fa-facebook"></i></a>
								<a href="/" class="tips" title="follow me on Twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" class="tips" title="follow me on Google+"><i class="fa fa-google-plus"></i></a>
								<a href="#" class="tips" title="follow me on Linkedin"><i class="fa fa-linkedin"></i></a>
							</div>     
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="footerRights">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p>Copyright © 2016 <a href="/" target="blank">TripKaki</a> / All rights reserved.</p>
					</div>

				</div>
			</div>
		</section>
</footer>